* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.centered {
  text-align: center;
}

.centered nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.centered p {
  margin: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-content p {
  margin: 0;
  padding: 0 10px;
}
